.container {
  display: grid;
  grid-template-columns: 20% 80% ;
  grid-template-rows: 100px 100px;
  margin-left: 10px;
  margin-right: 10px;

}

.img1{
    border: px solid black;
}

.imng3{
    background-color: red;
}

.img3{
    width: 1000px;
    height: 420px;
}

nav{
    margin-top: 5px;
    padding-top: 20px;
    background-color: black;
    height: 40px;
    
}
a {
    
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    
    border-right: 1px solid white;
    
    
}

.dropdown-menu{
    border-bottom: 10px solid black;
    co;
}

